@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
    font-weight: normal;
  }

* {
    direction: rtl !important;
    text-align: right !important;
    font-family: "Sahel" !important;
}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
  }

  .post-meta {
    text-align: left;
  }

.post-title {
  font-size: 28px !important;
}

.post-subtitle {
  font-size: 18px !important;
}
/* 
.post-preview > a > .post-title {
  font-size: 1.5rem !important;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

@media (min-width: 992px) {
  .post-preview > a > .post-title {
    font-size: 1.5rem !important;
  }
} */

@media (min-width: 992px) {
  .post-preview > a > .post-title {
    font-size: 1.8rem !important;
  }
}

header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 3rem !important;
}
