<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    {% for article in articles %}
        <center>
            <article>
                <img src="{{article.thumbnail.url}}" alt="" width="500" height="400">
                <a href="{% url 'blog:detail' article.slug %}"><h1>{{article.title}}</h1></a>
                <p>{{article.description}}</p>
                <small>{{article.publish}}</small>
            </article>
        </center>
    {% endfor %}
</body>
</html>